# ==========================================
# AWS CREDENTIALS (S3, DynamoDB, Bedrock)
# ==========================================
AWS_DEFAULT_REGION=ap-south-1
AWS_ACCESS_KEY_ID=<your access key>
AWS_SECRET_ACCESS_KEY=<your secret access key>

# ==========================================
# S3 CONFIGURATION
# ==========================================
S3_BUCKET_NAME=<your s3 bucket name>

# ==========================================
# POSTGRESQL RDS DATABASE
# ==========================================
DB_HOST=<your DB Host>
DB_PORT=5432
DB_NAME=<your Db Name>
DB_USER=<your DB user>
DB_PASS=<your Db pass>
