COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_DOMAIN=
REDIRECT_URI=
PORT=
COGNITO_CLIENT_SECRET=
DYNAMODB_TABLE=
S3_BUCKET_NAME=
AWS_REGION=ap-south-1
GEMINI_API_KEY=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
